# Exercise

In the following we are conducting several exercises about basic pandas analysis.

In this exercise, you will work with a fictional dataset containing sales data for a retail store. The dataset is provided in CSV format and consists of the following columns:

1. Order_ID: Unique identifier for each order.
2. Product: Name of the product sold.
3. Category: Category of the product (e.g., Electronics, Clothing, Furniture).
4. Price: Price of the product.
5. Quantity: Quantity of the product sold.
5. Order_Date: Date and time of the order.
Your task is to use pandas to perform various data analysis tasks and derive insights from the dataset.

### 2. Display Basic Information:
- Display the first 5 rows of the DataFrame.
- Display the basic information about the DataFrame (number of rows, columns, data types).

First 5 rows of the DataFrame:
   Employee_ID   Name Department              Position  Salary   Hire_Date
0          101   John         HR               Manager    6000  2020-01-15
1          102  Alice         IT             Developer    5000  2019-05-20
2          103    Bob  Marketing  Marketing Specialist    4500  2020-03-10
3          104  Emily    Finance            Accountant    5500  2018-11-25
4          105  David         HR          HR Assistant    4000  2021-02-05

Basic information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee_ID  5 non-null      int64
 1   Name         5 non-null      object
 2   Department   5 non-null      object
 3   Position     5 non-null      object
 4   Salary       5 non-null      int64
 5   Hire_Date    5 non-null      object
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

### 2.Summary Statistics:
- Calculate and display summary statistics for numerical columns (count, mean, min, max, etc.).

Summary statistics for numerical columns:
       Employee_ID       Salary
count     5.000000     5.000000
mean    103.000000  5000.000000
std       1.581139   790.569415
min     101.000000  4000.000000
25%     102.000000  4500.000000
50%     103.000000  5000.000000
75%     104.000000  5500.000000
max     105.000000  6000.000000

3. Data Manipulation:
- Convert the Hire_Date column to datetime format.
- Add a new column named Years_Worked that represents the number of years each employee has worked in the company (as of the current year).

DataFrame with 'Hire_Date' converted and 'Years_Worked' added:
   Employee_ID   Name Department              Position  Salary  Hire_Date  \
0          101   John         HR               Manager    6000 2020-01-15
1          102  Alice         IT             Developer    5000 2019-05-20
2          103    Bob  Marketing  Marketing Specialist    4500 2020-03-10
3          104  Emily    Finance            Accountant    5500 2018-11-25
4          105  David         HR          HR Assistant    4000 2021-02-05

   Years_Worked
0             4
1             5
2             4
3             6
4             3

### 4. Data Filtering:
- Filter the DataFrame to include only employees who work in the 'HR' department.
- Display the filtered DataFrame.

Employees in the 'HR' department:
   Employee_ID   Name Department      Position  Salary  Hire_Date  \
0          101   John         HR       Manager    6000 2020-01-15
4          105  David         HR  HR Assistant    4000 2021-02-05

   Years_Worked
0             4
4             3